.Roboto_Regular_14{
/* Roboto Regular 14 */


  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
/* identical to box height, or 143% */


  color: #C4C4C4;
}
.Roboto_Regular_14_AA{
/* Roboto Regular 14 AA */


  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 68px;
/* identical to box height, or 486% */

  text-transform: uppercase;

  color: #C4C4C4;
}

.Roboto_Medium_14{
/* Roboto Medium 14 */


  font-family: 'Roboto Medium', serif;
  font-size: 14px;
  line-height: 20px;
/* identical to box height, or 143% */


  color: #C4C4C4;
}
.Roboto_Regular_16{
/* Roboto Regular 16 */
  font-family: 'Roboto', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
/* or 125% */


  color: #C4C4C4;
}

.Oswald_Regular_14_AA{
/* Oswald Regular 14 AA */


  font-family: 'Oswald', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
/* identical to box height, or 179% */


  color: #C4C4C4;
}
.Oswald_Medium_14{
/* Oswald Medium 14 */


  font-family: 'Oswald', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
/* identical to box height */

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #C4C4C4;

}

.Oswald_SemiBold_14{
/* Oswald SemiBold 14 */


  font-family: 'Oswald', serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
/* identical to box height */

  text-transform: uppercase;

  color: #C4C4C4;
}

.Oswald_Regular_18{
/* Oswald Regular 18 */


  font-family: 'Oswald', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
/* or 128% */


  color: #C4C4C4;
}

.Oswald_Medium_18{
/* Oswald Medium 18 */


  font-family: 'Oswald', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
/* or 133% */


  color: #C4C4C4;
}

.Oswald_Medium_18_AA{
/* Oswald Medium 18 AA */


  font-family: 'Oswald', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
/* identical to box height */

  letter-spacing: 0.5px;
  text-transform: uppercase;

  color: #C4C4C4;

}

.Oswald_Regular_24{
/* Oswald Regular 24 */


  font-family: 'Oswald', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 68px;
/* identical to box height, or 283% */


  color: #C4C4C4;
}

.Oswald_Regular_32{
/* Oswald Regular 32 */


  font-family: 'Oswald', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 68px;
/* identical to box height, or 212% */


  color: #C4C4C4;
}
//:export {
//  Roboto_Regular_14: Roboto_Regular_14;
//  Roboto_Regular_14_AA: Roboto_Regular_14_AA;
//  Roboto_Medium_14: Roboto_Medium_14;
//  Roboto_Regular_16: Roboto_Regular_16;
//  Oswald_Regular_14_AA: Oswald_Regular_14_AA;
//  Oswald_Medium_14: Oswald_Medium_14;
//  Oswald_SemiBold_14: $Oswald_SemiBold_14;
//  Oswald_Regular_18: $Oswald_Regular_18;
//  Oswald_Medium_18: $Oswald_Medium_18;
//  Oswald_Medium_18_AA: $Oswald_Medium_18_AA;
//  Oswald_Regular_24: $Oswald_Regular_24;
//  Oswald_Regular_32: $Oswald_Regular_32;
//}