.shop-icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 5px;
  cursor: pointer;
  font-family: Roboto;
  svg{
    color: #FFF;
    font-size: 1.5em;
  }
}

.shop-icon-content {
  display: flex;
  flex-direction: column;
  margin-left: 5px;

  p {
    color: #FFF;
    font-family: Roboto;
    font-size: 12px;
    line-height: 1em;
    display: flex;
    align-items: start;
    justify-content: start;
    max-height: 20px;
  }
}
